{% extends 'base.html' %}
        
{% block content %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-1 mt-3">
            <div class='display-5'>{{ form_title }}</div>
            <hr />
        </div>
        <div class="mt-2" id="inserir">
            <form method="post" enctype='multipart/form-data'>
                {%  csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %} 
            </form>  
        </div>

    </div>
</main>
{% endblock content %}
