{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-1 mt-3">
            <div class='display-5'>Cliente</div>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">CPF</dt>
                <dd class="col-sm-9">{{ cliente.cpf }}</dd>
              
                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">{{ cliente.nome }}</dd>
              
                <dt class="col-sm-3 text-truncate">Data de Nascimento</dt>
                <dd class="col-sm-9">{{ cliente.data_nascimento }}</dd>
              
                <dt class="col-sm-3">WhatsApp</dt>
                <dd class="col-sm-9">{{ cliente.telefone_whatsapp }}</dd>
              
                <dt class="col-sm-3">Telefone</dt>
                <dd class="col-sm-9">{{ cliente.telefone }}</dd>
              </dl>
              <hr />
              <p class="d-inline gap-1">
                <a class="btn btn-light" data-bs-toggle="collapse"  href="#inserirCliente" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Novo Requerimento
                </a>
                    <div class="collapse mt-2" id="inserirCliente">
                        <form method="post" enctype='multipart/form-data'>
                            {%  csrf_token %}
                            {% load crispy_forms_tags %}
                            {% crispy novo_requerimento_form %}
                            
                        </form>  
                    </div>
                </div>
        </div>
        

        <div class="p-1">
        <table class="table" id='requerimentos'>
            <thead>
                <tr>
                    <th>NB</th>
                    <th>Serviço</th>
                    <th>Dependentes</th>
                    <th>Tutor/Curador</th>
                    <th>Instituidor</th>
                    <th>Data</th>
                    <th>Estado</th>
                    <th>Observação</th>
                    <th class='col-sm-2'>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for requerimento in requerimentos_cliente %}
                <tr>
                    <td><a href='../requerimento/?NB={{ requerimento.NB }}'> {{ requerimento.NB }}</a></td>
                    <td>{{ requerimento.servico }}</td>
                    <td>{{ requerimento.requerente_dependentes }}</td>
                    <td>{{ requerimento.tutor_curador }}</td>
                    <td>{{ requerimento.instituidor }}</td>
                    <td>{{ requerimento.data }}</td>
                    <td>{{ requerimento.estado }}</td>
                    <td>{{ requerimento.observacao }}</td>
                    <td >
                        <a href="" class="btn btn-primary">{% bs_icon 'file-pdf' size='1em' %}</a>
                        <a href="" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                        <a href="" class="btn btn-danger">{% bs_icon 'file-x' %}</a>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</main>
{% endblock content %}
