{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
<main class="content" >
    <div class="container-fluid ">
        <div class="p-1 mt-3">
            <div class='row'>
                <div class='display-5 col-sm-8'>Cliente</div>
                <div class='display-5 col-sm-4'>
                    {% if cliente.arquivo_do_cliente %}
                    <a href="{{ cliente.arquivo_do_cliente.url }}" class="btn btn-primary" download>{% bs_icon 'file-pdf' size='1em' %}</a>
                    {% endif %}
                    <a href="{% url 'update_cliente' cliente.cpf %}" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                    {% if qtde_instancias_filhas == 0 %}
                    <a href="{% url 'delete_cliente' cliente.cpf %}" class="btn btn-danger">{% bs_icon 'file-x' %}</a>
                    {% endif %}
                </div>
            </div>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">CPF</dt>
                <dd class="col-sm-9">{{ cliente.cpf }}</dd>
              
                <dt class="col-sm-3">Nome</dt>
                <dd class="col-sm-9">{{ cliente.nome }}</dd>
              
                <dt class="col-sm-3 text-truncate">Data de Nascimento</dt>
                <dd class="col-sm-9">{{ cliente.data_nascimento|date:"d/m/Y"}}</dd>
              
                <dt class="col-sm-3">WhatsApp</dt>
                <dd class="col-sm-9">{{ cliente.telefone_whatsapp }}</dd>
              
                <dt class="col-sm-3">Telefone</dt>
                <dd class="col-sm-9">{{ cliente.telefone }}</dd>

              </dl>
              <hr />
              <p class="d-inline gap-1">
                <a class="btn btn-light" href="{% url 'novo_requerimento' cliente.cpf %}" role="button">
                    Novo Requerimento
                </a>
            </div>
        </div>
        <div class="p-1">
        <table class="table" id='requerimentos'>
            <thead>
                <tr>
                    <th>NB</th>
                    <th>Serviço</th>
                    <th>Dependentes</th>
                    <th>Tutor/Curador</th>
                    <th>Instituidor</th>
                    <th>Data do Protocolo</th>
                    <th>Estado</th>
                    <th>Observação</th>
                    <th class='col-sm-2'>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for requerimento in requerimentos_cliente %}
                <tr>
                    <td><a href="{% url 'requerimento' requerimento.NB %}"> {{ requerimento.NB }}</a></td>
                    <td>{{ requerimento.servico }}</td>
                    <td>{{ requerimento.requerente_dependentes }}</td>
                    <td>{{ requerimento.tutor_curador }}</td>
                    <td>{{ requerimento.instituidor }}</td>
                    <td>{{ requerimento.data|date:"d/m/Y" }}</td>
                    <td>{{ requerimento.estado }}</td>
                    <td>{{ requerimento.observacao }}</td>
                    <td >
                        {% if requerimento.arquivo_do_requerimento %}
                        <a href="{{ requerimento.arquivo_do_requerimento.url }}" class="btn btn-primary" download>{% bs_icon 'file-pdf' size='1em' %}</a>
                        {% endif %}
                        <a href="{% url 'update_requerimento' requerimento.NB %}" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                        <a href="{% url 'delete_requerimento' requerimento.NB %}" class="btn btn-danger">{% bs_icon 'file-x' %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="p-1 mt-3">
            <a class="btn btn-secondary" onclick="window.history.back()">Voltar</a>
        </div>
    </div>
</main>
{% endblock content %}
