{% extends 'base.html' %}
        
{% block content %}
{% load bootstrap5 %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-1 mt-3">
            
            <div class='display-5'>Clientes</div>
            <hr />
            <p class="d-inline-flex gap-1">
            <a class="btn btn-light" data-bs-toggle="collapse"  href="#inserirCliente" role="button" aria-expanded="false" aria-controls="collapseExample">
                Novo Cliente
            </a>
                <div class="collapse mt-2" id="inserirCliente">
                    <form method="post" enctype='multipart/form-data'>
                        {%  csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy novo_cliente_form %}
                       
                    </form>  
                </div>
            </div>
        </div>
        <hr />

        <div class="p-1">
        <table class="table">
            <thead>
                <tr>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Telefone</th>
                    <th>WhatsApp</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.cpf }}</td>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.data_nascimento }}</td>
                    <td>{{ cliente.telefone_whatsapp }}</td>
                    <td>{{ cliente.telefone }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</main>
{% endblock content %}
