{% extends 'base.html' %}
        
{% block content %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-2 mt-3">
            <div class='display-5'>Bem Vindo(a)
                {% if user.is_authenticated %} 
                , 
                {{ user.get_username }}
                {% endif %}!
            </div>
            <hr />
            <div class="card card-body text-center">
            <h3 class="mb-0">Este é um site desenvolvido como atividade avaliativa para o Projeto Integrador 1<br>
        </h3></div>
        </div>
    </div>
</main>
{% endblock content %}
