{% extends 'base.html' %}
        
{% block content %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-2 mt-3">
            <div class='display-5 text-center'>Prazos</div>
            <hr class="py-2"/>
            <div class='display-6 text-center' id='prazo_exigencias'>Exigências</div>
            <hr />
            <div class='display-6'>Exigências dentro do prazo</div>
            <hr />
            <div class="p-1">
                {% if exigencias_futuras %}
                <table class="table">
                    <thead>
                        <tr>                        
                            <th>CPF Requerente</th>
                            <th>Nome Requerente</th>
                            <th>NB</th>
                            <th>Serviço</th>
                            <th>Exigencia Protocolo</th>
                            <th>Exigencia Data</th>
                            <th>Exigencia Natureza</th>
                            <th>Exigencia Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exigencia in exigencias_futuras %}
                        <tr>
                            <td><a href="{% url 'cliente' exigencia.NB.requerente_titular.cpf  %}">{{ exigencia.NB.requerente_titular.cpf }}</a> </td>
                            <td>{{ exigencia.NB.requerente_titular.nome }}</td>
                            <td><a href="{% url 'requerimento' exigencia.NB.NB %}">{{ exigencia.NB.NB }}</a></td>
                            <td>{{ exigencia.NB.servico }}</td>
                            <td><a href="{% url 'update_exigencia' exigencia.NB.NB exigencia.protocolo %}">{{ exigencia.protocolo }} </a></td>
                            <td>{{ exigencia.data|date:"d/m/Y" }}</td>
                            <td>{{ exigencia.natureza }}</td>
                            <td>{{ exigencia.estado }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-success p-1" role="alert">
                    Não há exigências dentro do prazo
                {% endif %}
            </div>
            <div class='display-6'>Exigências vencidos nos ultimos 30 dias</div>
            <hr />
            <div class="p-1">
                {% if exigencias_vencidas %}
                <table class="table">
                    <thead>
                        <tr>                        
                            <th>CPF Requerente</th>
                            <th>Nome Requerente</th>
                            <th>NB</th>
                            <th>Serviço</th>
                            <th>Exigencia Protocolo</th>
                            <th>Exigencia Data</th>
                            <th>Exigencia Natureza</th>
                            <th>Exigencia Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for exigencia in exigencias_vencidas %}
                        <tr>
                            <td><a href="{% url 'cliente' exigencia.NB.requerente_titular.cpf  %}">{{ exigencia.NB.requerente_titular.cpf }}</a> </td>
                            <td>{{ exigencia.NB.requerente_titular.nome }}</td>
                            <td><a href="{% url 'requerimento' exigencia.NB.NB %}">{{ exigencia.NB.NB }}</a></td>
                            <td>{{ exigencia.NB.servico }}</td>
                            <td><a href="{% url 'update_exigencia' exigencia.NB.NB exigencia.protocolo %}">{{ exigencia.protocolo }} </a></td>
                            <td>{{ exigencia.data|date:"d/m/Y" }}</td>
                            <td>{{ exigencia.natureza }}</td>
                            <td>{{ exigencia.estado }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-success p-1" role="alert">
                    Não há exigências vencidas não cumpridas.
                {% endif %}
            </div>
            <hr class="py-2">
            <div class='display-6 text-center' id='prazo_recursos'>Recursos</div>
            <hr />
            <div class='display-6'>Recursos dentro do prazo</div>
            <hr />
            <div class="p-1">
                {% if existem_recursos_futuros %}
                <table class="table">
                    <thead>
                        <tr>                        
                            <th>CPF Requerente</th>
                            <th>Nome Requerente</th>
                            <th>NB</th>
                            <th>Serviço</th>
                            <th>Recurso Protocolo</th>
                            <th>Recurso Data</th>
                            <th>Recurso Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recurso in recursos_futuros %}
                        <tr>
                            <td><a href="{% url 'cliente' recurso.NB.requerente_titular.cpf  %}">{{ recurso.NB.requerente_titular.cpf }}</a> </td>
                            <td>{{ recurso.NB.requerente_titular.nome }}</td>
                            <td><a href="{% url 'requerimento' recurso.NB.NB %}">{{ recurso.NB.NB }}</a></td>
                            <td>{{ recurso.NB.servico }}</td>
                            <td><a href="{% url 'update_recurso' recurso.NB.NB recurso.protocolo %}">{{ recurso.protocolo }} </a></td>
                            <td>{{ recurso.data|date:"d/m/Y" }}</td>
                            <td>{{ recurso.estado }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-success p-1" role="alert">
                    Não há recursos dentro do prazo
                {% endif %}

            </div>
            <div class='display-6'>Recursos vencidos nos ultimos 30 dias</div>
            <hr />
            <div class="p-1">
                {% if existem_recursos_vencidos %}
                <table class="table">
                    <thead>
                        <tr>                        
                            <th>CPF Requerente</th>
                            <th>Nome Requerente</th>
                            <th>NB</th>
                            <th>Serviço</th>
                            <th>Recurso Protocolo</th>
                            <th>Recurso Data</th>
                            <th>Recurso Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recurso in recursos_vencidos %}
                        <tr>
                            <td><a href="{% url 'cliente' recurso.NB.requerente_titular.cpf  %}">{{ recurso.NB.requerente_titular.cpf }}</a> </td>
                            <td>{{ recurso.NB.requerente_titular.nome }}</td>
                            <td><a href="{% url 'requerimento' recurso.NB.NB %}">{{ recurso.NB.NB }}</a></td>
                            <td>{{ recurso.NB.servico }}</td>
                            <td><a href="{% url 'update_recurso' recurso.NB.NB recurso.protocolo %}">{{ recurso.protocolo }} </a></td>
                            <td>{{ recurso.data|date:"d/m/Y" }}</td>
                            <td>{{ recurso.estado }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-success p-1" role="alert">
                    Não há recursos vencidos não cumpridos
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock content %}
