{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block content %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-1 mt-3">
            <div class='row'>
                <div class='display-5 col-sm-8'>Cliente</div>
                <div class='display-5 col-sm-4'>
                    {% if cliente.arquivo_do_cliente %}
                    <a href="{{ cliente.arquivo_do_cliente.url }}" class="btn btn-primary" download>{% bs_icon 'file-pdf' size='1em' %}</a>
                    {% endif %}
                    <a href="{% url 'update_cliente' cliente.cpf %}" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                </div>
            </div>
            <hr />
                <dl class="row">
                    <dt class="col-sm-3">CPF</dt>
                    <dd class="col-sm-9">{{ cliente.cpf }}</dd>
                
                    <dt class="col-sm-3">Nome</dt>
                    <dd class="col-sm-9">{{ cliente.nome }}</dd>
                
                    <dt class="col-sm-3 text-truncate">Data de Nascimento</dt>
                    <dd class="col-sm-9">{{ cliente.data_nascimento|date:"d/m/Y" }}</dd>
                
                    <dt class="col-sm-3">WhatsApp</dt>
                    <dd class="col-sm-9">{{ cliente.telefone_whatsapp }}</dd>
                
                    <dt class="col-sm-3">Telefone</dt>
                    <dd class="col-sm-9">{{ cliente.telefone }}</dd>
                </dl>  
        </div>
        <div class="p-1 mt-3">
            <div class='row'>
                <div class='display-5 col-sm-8'>Requerimento</div>
                <div class='display-5 col-sm-4'>
                    {% if requerimento.arquivo_do_requerimento %}
                    <a href="{{ requerimento.arquivo_do_requerimento.url }}" class="btn btn-primary" download>{% bs_icon 'file-pdf' size='1em' %}</a>
                    {% endif %}
                    <a href="{% url 'update_requerimento' requerimento.NB %}" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                    {% if qtde_instancias_filhas == 0 %}
                    <a href="{% url 'delete_requerimento' requerimento.NB %}" class="btn btn-danger">{% bs_icon 'file-x' %}</a>
                    {% endif %}
                </div>
            </div>
            <hr />
                <dl class="row">
                    <dt class="col-sm-3">NB</dt>
                    <dd class="col-sm-9">{{ requerimento.NB }}</dd>
                
                    <dt class="col-sm-3">Serviço</dt>
                    <dd class="col-sm-9">{{ requerimento.servico }}</dd>
                
                    <dt class="col-sm-3">Dependentes</dt>
                    <dd class="col-sm-9">{{ requerimento.requerente_dependentes }}</dd>
                
                    <dt class="col-sm-3">Tutor/Curador</dt>
                    <dd class="col-sm-9">{{ requerimento.tutor_curador }}</dd>
                
                    <dt class="col-sm-3">Instituidor</dt>
                    <dd class="col-sm-9">{{ requerimento.instituidor }}</dd>
                
                    <dt class="col-sm-3">Data do protocolo</dt>
                    <dd class="col-sm-9">{{ requerimento.data|date:"d/m/Y" }}</dd>
                
                    <dt class="col-sm-3">Estado</dt>
                    <dd class="col-sm-9">{{ requerimento.estado }}</dd>
                
                    <dt class="col-sm-3">Observação</dt>
                    <dd class="col-sm-9">{{ requerimento.observacao }}</dd>
                </dl>  
        </div>
        <div class="p-1 mt-3">
            <div class='display-6'>Exigências</div>
            <hr />
            <p class="d-inline-flex gap-1">
            <a class="btn btn-light"   href="{% url 'nova_exigencia' requerimento.NB %}" role="button">
                Nova Exigência
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Data final do prazo</th>
                        <th>Natureza</th>
                        <th>Estado</th>
                        <th class='col-sm-2'>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for exigencia in exigencias_requerimento %}
                    <tr>
                        <td>{{ exigencia.data_final_prazo|date:"d/m/Y" }}</td>
                        <td>{{ exigencia.natureza }}</td>
                        <td>{{ exigencia.estado }}</td>
                        <td >
                        {% if exigencia.arquivo_da_exigencia %}
                            <a href="{{ exigencia.arquivo_da_exigencia.url }}" class="btn btn-primary" download>{% bs_icon 'file-pdf' size='1em' %}</a>
                        {% endif %}
                            <a href="{% url 'update_exigencia' requerimento.NB exigencia.id %}" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                            <a href="{% url 'delete_exigencia' requerimento.NB exigencia.id %}" class="btn btn-danger">{% bs_icon 'file-x' %}</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-1 mt-3">
            <div class='display-6'>Recursos</div>
            <hr />
            <p class="d-inline-flex gap-1">
            <a class="btn btn-light"   href="{% url 'novo_recurso' requerimento.NB %}" role="button">
                Novo Recurso
             </a>
            <table class="table" id='recursos'>
                <thead>
                    <tr>
                        <th>Data final do prazo</th>
                        <th>Estado</th>
                        <th>Observação</th>
                        <th class='col-sm-2'>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recurso in recursos_requerimento %}
                    <tr>
                        <td>{{ recurso.data_final_prazo|date:"d/m/Y" }}</td>
                        <td>{{ recurso.estado }}</td>
                        <td>{{ recurso.observacao }}</td>
                        <td >
                        {% if recurso.arquivo_do_recurso %}
                            <a href="{{ recurso.arquivo_do_recurso.url }}" class="btn btn-primary" download>{% bs_icon 'file-pdf' size='1em' %}</a>
                        {% endif %}
                            <a href="{% url 'update_recurso' requerimento.NB recurso.id %}" class="btn btn-warning">{% bs_icon 'pencil-square' %}</a>
                            <a href="{% url 'delete_recurso' requerimento.NB recurso.id %}" class="btn btn-danger">{% bs_icon 'file-x' %}</a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</main>
{% endblock content %}
