{% extends 'base.html' %}
        
{% block content %}
    
<main class="content" >
    <div class="container-fluid ">
        <div class="p-1 mt-3">
            <div class='display-5'>{{ form_name }}</div>
            <hr />
        </div>
        <div class="mt-2" id="inserirExigencia">
            <form method="post" enctype='multipart/form-data'>
                {% block novo_form %} 
                
                {% endblock novo_form %}
                
            </form>  

        </div>

    </div>

</main>
{% endblock content %}
